<a href="https://colab.research.google.com/github/PlasticTramp/cyp_2021/blob/main/Tarea_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ejemplo 3.1 nomina sin usar ciclo for
nom = 0
nomina = 0
sue1 = float(input("ingrese el sueldo 1: "))
sue2 = float(input("ingrese el sueldo 2: "))
sue3 = float(input("ingrese el sueldo 3: "))
sue4 = float(input("ingrese el sueldo 4: "))
sue5 = float(input("ingrese el sueldo 5: "))
sue6 = float(input("ingrese el sueldo 6: "))
sue7 = float(input("ingrese el sueldo 7: "))
sue8 = float(input("ingrese el sueldo 8: "))
sue9 = float(input("ingrese el sueldo 9: "))
sue10 = float(input("ingrese el sueldo 10: "))
nomina = sue1 + sue2 + sue3 + sue4 + sue5 + sue6 +sue7 +sue8 + sue9 +sue10
print(f"la nomina es {nomina}")1

In [ ]:
#ejemplo 3.1 dados los sueldos arroje la nomina "for"
nom = 0
nomina = 0

for i in range(1, 11):
   nom = float(input(f"ingrese el sueldo {i} "))

   nomina += nom
print(f"la nomina es {nomina}")

ingrese el sueldo 1 2345
ingrese el sueldo 2 9876
ingrese el sueldo 3 3456
ingrese el sueldo 4 4697
ingrese el sueldo 5 0975
ingrese el sueldo 6 2479
ingrese el sueldo 7 9864
ingrese el sueldo 8 08757
ingrese el sueldo 9 11
ingrese el sueldo 10 3456
la nomina es 45916.0

In [ ]:
#ejemplo 3.4 suma de gastos "while"

sum = 0
gas = 0

print("ingrese los gastos que haya tenido, cuando haya terminado ingrese ¨-1¨ ")
gas = float(input())
while gas > -1:
 sum = sum + gas
 gas = float(input())
print(f"los gastos fueron ${sum}")

ingrese los gastos que haya tenido, cuando haya terminado ingrese ¨-1¨
123
1234
12345
4567
5467
-1
los gastos fueron $23736.0